@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Asia Pacific Region</h1>
    <p class="lead">Asia Pacific UIA Website.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Stand A Chance To Win</h2>
        <p>
            Purchase any items worth more than RM500 to stand a chance to win a iPhone X.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Santa Meal, Special Meal</h2>
        <p>Order a santa meal to celebrate your Chrismas Day in the Ukraine International Airlines flight. Hurry and order now!</p>
    </div>
    <div class="col-md-4">
        <h2>Exchange Currency</h2>
        <p>New service while flying with the Ukraine International Airlines. You can now exchange any currency in the flight without any trouble.</p>
    </div>
</div>